.page-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 1201px)  {
  .page-container {
    width:  1200px;
    width:  1200px;
    width:  1200px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .page-container {
    width:  900px;
    width:  900px;
    width:  900px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
  .page-container {
    width: 750px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
  .page-container {
    width: 750px;
  }
}
// @media only screen and (min-width: 480px) and (max-width: 766px) {
//   .page-container {
//     width: 100%;
//   }
// }
@media only screen and (min-width: 200px) and (max-width: 766px) {
  .page-container {
    width: 100%;
  }
}
